*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: poppins;
}

/* main container hold the all the componets of page */

.main_container{
    width: 100vw;
    height: auto;
}

/* common stylings  */

/* start button */
.start_btn{
    
    background-color: #38373C;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;

}
/* keep me center */
.keepCenter{
    display: flex;
    justify-content: center;
    align-items: center;

}
.horizontalCenter{
    display: flex;
    align-items: center;
}


/* nav bar stylings  */

.topnav{
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
z-index: 1;
    /* background-color: dodgerblue; */

}
.topnav_left a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.topnav_right a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 22px;
    color: #fff;
}

.navStart{
    margin-right: 100px;
}
/* firstPart */

.firstPart{
    height: 700px;
    width: 100%;
    position: relative;
    background-color: #D6D0D7;

}
.backGroundBox{
    height: 100%;
    width: 70%;
    background-color: #38373C;
}


/* secondPart */

.secondPart{
    padding: 5px;
    height: 700px;
    width: 100%;
    background-color:violet;

}

/* thirdPart */

.thirdPart{
    margin-top: 50px;
    height: 700px;
    width: 100%;
    background-color: green;

}

/* fourthPart */

.fourthPart{
    margin-top: 50px;
    height: 700px;
    width: 100%;
    background-color: black;


}


/* fifthPart */

.fifthPart{
    margin-top: 50px;
    height: 700px;
    width: 100%;
    background-color: yellow;
}

/* sixthPart */

.sixthPart{
    margin-top: 50px;
    height: 650px;
    width: 100%;
    background-color: orange;

}